@import "tailwindcss";

html {
  margin: 0;
  padding: 0;
  background-color: white;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: white;
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}
